# byte compiled
__pycache__/
*.py[cod]

# distribution / packaging
build/
dist/
google_deputy_api_python_client.egg-info/

# environments
.env
.venv
env/
venv/
env.bak/
venv.bak/

# pycharm configuration
.idea
